<div class="container">

  <h2>Create Room</h2>
  <label for="username">Username:</label>
  <input type="text" id="username" [(ngModel)]="username">

  <label for="roomName">Room Name:</label>
  <input type="text" id="roomName" [(ngModel)]="roomName">


<!--  <h2>Create Room</h2>
 <input [(ngModel)]="username" placeholder="Username" />

 <p>Username: {{ username }}</p> -->
 

  <button (click)="sendData()">Criar usuario</button>

  
<!--   <form [formGroup]="roomForm" (ngSubmit)="createRoom()">

    

    <div class="form-group">
      <label for="name">Nome da sala:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
      <div *ngIf="roomForm.controls.name.touched && roomForm.controls.name.errors" class="error-message">
        nome da sala é requerido.
      </div>
    </div>

    <div class="button-group">
      <button type="submit"  class="btn btn-primary">Criar</button>
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
    </div>

  </form> -->
</div>


<!-- <div class="container">
    <h2>Criar sala</h2>
    <form [formGroup]="roomForm" (ngSubmit)="createRoom()">
      <div class="form-group">
        <label for="name">Nome da sala:</label>
        <input type="text" id="name" formControlName="name" class="form-control">
        <div *ngIf="roomForm.controls.name.touched && roomForm.controls.name.errors" class="error-message">
          nome da sala é requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="position">Posição:</label>
        <select id="position" formControlName="position" class="form-control">
          <option value="" disabled selected>Selecionar a posição</option>
          <option *ngFor="let pos of positions" [value]="pos">{{ pos }}</option>
        </select>
        <div *ngIf="roomForm.controls.position.touched && roomForm.controls.position.errors" class="error-message">
          Posição é requerida.
        </div>
      </div>
      <div class="form-group">
        <label for="invitedUsers">Convidar usuarios (email separado por virgula):</label>
        <input type="text" id="invitedUsers" class="form-control">
      </div>
      <div class="button-group">
        <button type="submit"  class="btn btn-primary">Criar</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
   -->
<!-- <h1>Create Room</h1>

<div class="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Room Name</mat-card-title>
    </mat-card-header>
    <mat-card-body>
      <input [(ngModel)]="name" type="text" placeholder="Enter room name">
    </mat-card-body>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Position</mat-card-title>
    </mat-card-header>
    <mat-card-body>
      <mat-select [(ngModel)]="position">
        <mat-option *ngFor="let position of positions" [value]="position">
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-card-body>
  </mat-card>

  <div class="submit-button">
    <mat-button type="submit">Create</mat-button>
    <mat-button type="button">Cancel</mat-button>
  </div>
</div> -->